
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
    <script src="~/Assets/jQuey/jquery-1.11.3.js"></script>
    <link href="~/Assets/Bootstrap3.3.7/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Assets/Bootstrap3.3.7/Scripts/bootstrap.js"></script>
    <link href="~/Assets/bootstrap-table-1.11.1/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Assets/bootstrap-table-1.11.1/bootstrap-table.js"></script>
    <script src="~/Assets/bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.js"></script>

    <script type="text/javascript">
        var data=[
    {
        "name": "bootstrap-table",
        "stargazers_count": "526",
        "forks_count": "122",
        "description": "An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3)"
    },
    {
        "name": "multiple-select",
        "stargazers_count": "288",
        "forks_count": "150",
        "description": "A jQuery plugin to select multiple elements with checkboxes :)"
    },
    {
        "name": "bootstrap-show-password",
        "stargazers_count": "32",
        "forks_count": "11",
        "description": "Show/hide password plugin for twitter bootstrap."
    },
    {
        "name": "blog",
        "stargazers_count": "13",
        "forks_count": "4",
        "description": "my blog"
    },
    {
        "name": "scutech-redmine",
        "stargazers_count": "6",
        "forks_count": "3",
        "description": "Redmine notification tools for chrome extension."
    }
        ];
        $(function () {
           var table=  $('#tb_departments').bootstrapTable({
               //data: data,
               url: "TableData",
               pagination: true,
               sidePagination: "server",
                //clickToSelect:true,
                columns: [{
                    checkbox: true
                }, {
                    field: 'name',
                    title: '部门名称'
                }, {
                    field: 'stargazers_count',
                    title: '上级部门'
                }, {
                    field: 'forks_count',
                    title: '部门级别'
                }, {
                    field: 'description',
                    title: '描述'
                }, ]
            });
            
            $("#btn").click(function () {
                var dd = $('#tb_departments').bootstrapTable("getSelections");
                console.log("选中的数据", dd);
            });
        });
    </script>
</head>
<body>
    <div> 
        <input type="button" id="btn" class="btn btn-primary" value="确定" />
        <table id="tb_departments"></table>
    </div>
</body>
</html>
